NODE_ENV=development
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=P@ssW0rD
DB_NAME=namedb
CLOUDINARY_NAME=CLOUDINARY_NAME
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=API_SECRET
#PORT -> Optional, its default value is 3000.
#DEFAULT_LIMIT -> Optional, its default value is 10.