<div class="max-w-screen-xl py-8 md:py-16 px-4 mx-auto 2xl:px-0">
  <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-28">
    <div class="h-96 w-full animate-pulse bg-gray-200 rounded-md mb-4"></div>

    <div class="mt-6 sm:mt-8 lg:mt-0">
      <div class="h-8 w-16 animate-pulse bg-gray-200 rounded-md mb-4"></div>
      <div class="h-28 w-full animate-pulse bg-gray-200 rounded-md mb-4"></div>
      <div class="h-20 w-full animate-pulse bg-gray-200 rounded-md mb-4"></div>
      <div class="h-20 w-full animate-pulse bg-gray-200 rounded-md mb-4"></div>
    </div>
  </div>
</div>
