@if (!product()) {
  <app-product-skeleton />
}

@if (product() !== null) {
  @let _product = product()!;
  <section class="py-8 bg-white md:py-16 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
        <!-- PRODUCT IMAGE GALLERY-->
        <div class="grid gap-4 shrink-0 max-w-md lg:max-w-lg mx-auto">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              [ngSrc]="currentImage()"
              [alt]="_product.title"
              height="800"
              width="800"
            />
          </div>
          <div class="grid grid-cols-5 gap-4">
            @for (image of _product.images; track $index) {
              <div class="cursor-pointer" (click)="changeImage(image)">
                <img
                  class="h-auto max-w-full rounded-lg hover:border-2 hover:border-gray-800"
                  [ngSrc]="image"
                  [placeholder]="image"
                  [alt]="_product.title"
                  height="200"
                  width="200"
                />
              </div>
            }
          </div>
        </div>

        <div class="mt-6 sm:mt-8 lg:mt-0">
          <!-- PRODUCT STOCK -->
          @if (_product.stock > 0) {
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm"
              >In stock
            </span>
          } @else {
            <span
              class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm"
              >Out of stock
            </span>
          }

          <!-- PRODUCT TITLE -->
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl mt-3">
            {{ _product.title }}
          </h1>

          <!-- PRODUCT PRICE -->
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
              {{ _product.price | currency }}
            </p>
          </div>

          <!-- BUTTONS ADD AND FAVORITE -->
          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <!-- ADD FAVORITE BUTTON -->
            <button
              title="add to favorite"
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
              role="button"
              (click)="toggleFavorite(_product)"
            >
              @if (isFavorite()) {
                <svg
                  class="w-5 h-5 text-gray-800 me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"
                  />
                </svg>
              } @else {
                <svg
                  class="h-5 w-5 me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"
                  />
                </svg>
              }
              Add to favorites
            </button>

            <!-- ADD PRODUCT BUTTON -->
            <button
              title="add product to cart"
              class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center"
              role="button"
              (click)="addToCart()"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                />
              </svg>

              Add to cart
            </button>
          </div>

          <hr class="my-6 md:my-8 border-gray-200" />
          <!-- PRODUCT TAGS -->
          <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <div>
              <h2 class="font-semibold">Gender</h2>
              <span
                class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border-gray-500"
                >{{ _product.gender }}</span
              >
            </div>
            <div>
              <h2 class="font-semibold">Sizes</h2>
              @for (size of _product.sizes; track $index) {
                <span
                  class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border-gray-500"
                  >{{ size }}</span
                >
              }
            </div>
            <div>
              <h2 class="font-semibold">Tags</h2>
              <span
                class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border-gray-500"
                >{{ _product.tags }}</span
              >
            </div>
          </div>

          <!-- PRODUCT DESCRIPTION -->
          <p class="my-6 text-gray-500 leading-7">
            {{ _product.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
}
