<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <div class="gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
          My orders
        </h2>

        <div
          class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0"
        >
          <div>
            <label
              for="order-type"
              class="sr-only mb-2 block text-sm font-medium text-gray-900"
              >Select order type</label
            >
            <select
              id="order-type"
              class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
              (change)="onOrderStatusChange($event)"
            >
              <option value="" selected>All orders</option>
              @for (status of orderStatusArray(); track $index) {
                <option [value]="status">{{ status }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="mt-6 flow-root sm:mt-8">
        @if (isLoadingOrders()) {
          <app-orders-skeleton />
        } @else {
          <div class="divide-y divide-gray-200">
            @for (order of orders(); track order.id) {
              <div class="flex flex-wrap items-center gap-y-4 py-6">
                <!-- ORDER DATE -->
                <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                  <dt class="text-base font-medium text-gray-500">Date:</dt>
                  <dd class="mt-1.5 text-base font-semibold text-gray-900">
                    {{ order.createdAt | date }}
                  </dd>
                </dl>

                <!-- ORDER ITEMS TOTAL -->
                <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                  <dt class="text-base font-medium text-gray-500">
                    Total items:
                  </dt>
                  <dd class="mt-1.5 text-base font-semibold text-gray-900">
                    {{ order.totalItems }}
                  </dd>
                </dl>

                <!-- ORDER PRICE -->
                <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                  <dt class="text-base font-medium text-gray-500">Price:</dt>
                  <dd class="mt-1.5 text-base font-semibold text-gray-900">
                    {{ order.totalAmount | currency }}
                  </dd>
                </dl>

                <!-- ORDER STATUS -->
                <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                  <dt class="text-base font-medium text-gray-500">Status:</dt>
                  <dd
                    class="me-2 mt-1.5 inline-flex items-center rounded px-2.5 py-0.5 text-xs font-medium"
                    [class]="
                      order.status === OrderStatus.CANCELLED
                        ? 'bg-primary-100 text-primary-800'
                        : order.status === OrderStatus.DELIVERED
                          ? 'bg-green-100 text-green-800'
                          : order.status === OrderStatus.PENDING
                            ? 'bg-yellow-100 text-yellow-800'
                            : ''
                    "
                  >
                    @switch (order.status) {
                      @case (OrderStatus.CANCELLED) {
                        <svg
                          class="me-1 h-3 w-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18 17.94 6M18 18 6.06 6"
                          />
                        </svg>
                      }
                      @case (OrderStatus.PENDING) {
                        <svg
                          class="me-1 h-3 w-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z"
                          />
                        </svg>
                      }
                      @case (OrderStatus.DELIVERED) {
                        <svg
                          class="me-1 h-3 w-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 11.917 9.724 16.5 19 7.5"
                          />
                        </svg>
                      }
                    }
                    {{ order.status }}
                  </dd>
                </dl>

                <!-- ORDER DETAILS BUTTON-->
                <div
                  class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4"
                >
                  <button
                    data-modal-target="order-detail-modal"
                    data-modal-toggle="order-detail-modal"
                    class="w-full inline-flex justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 lg:w-auto"
                    (click)="orderInModal.set(order)"
                  >
                    View details
                  </button>
                </div>
              </div>
            } @empty {
              <p>No orders found. Start shopping now!</p>
            }
          </div>
        }
      </div>

      @if (totalOrders() > itemsPerPage()) {
        <h6 class="mt-6 sm:mt-8 text-center">Page {{ page() }}</h6>
        <nav
          class="flex items-center justify-center space-x-2 mt-2"
          aria-label="Page navigation"
        >
          <button
            class="w-full inline-flex justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 lg:w-auto"
            [disabled]="page() === 1"
            (click)="loadOrders(-1)"
          >
            prev
          </button>
          <button
            class="w-full inline-flex justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 lg:w-auto"
            [disabled]="isLastPage()"
            (click)="loadOrders(+1)"
          >
            next
          </button>
        </nav>
      }
    </div>
  </div>
</section>

<app-order-detail-modal [order]="orderInModal()" />
